body{
			background-color: black;
	}
header{
	background-color: darkblue;
	height: 100px;
	width: 100%;
	color:white;
	margin-top: 0;
	margin-left: -8px;
	padding-top: 1px;
	padding-bottom: 3px;
	position: fixed;
	top: 0;
	z-index: 10;
}
.navi .top li{
	list-style: none;
	float: left;
	padding: 15px 15px;
	width: auto;
	height: 20px;
	font-size: 30px;

}
.navi .top1 li{
	list-style: none;
	float: left;
	padding: 0px 15px;
	width: auto;
	height: 20px;

}
.top a{
	color: white;
	text-decoration: none;
}
		
.banner{
	position: relative;
	margin-top: 100px;
					
}
.lang h1{
	color: white;
	text-align: center;
	font-size: 50px;
}
.box{
	width: 250px;
	height: 250px;
	float: left;
	margin:30px 105px;
	border: solid;
	border-color: white;
	border-radius: 50px;
	color: white;
	text-align: center;
	overflow: hidden;
}
.box img:hover{
	transform: scale(1.5);
	transition-duration: 0.1s;
	overflow: hidden;
}
.box p{
	position: absolute;
	margin-left: 5%;
}
.box:hover{
	color: #333;
}
footer{
	background-color: white;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 100px;
}